.details {
  background: linear-gradient(to bottom, #2c2c2c6c, #2c2c2c);
  position: relative;
  font-size: 12px;
  height: 30%;
  bottom: 30%;
  width: 100%;
  padding-bottom: 0;
  opacity: 0;
}
.details .title {
  font-size: 15px;
}
.title {
  display: flex;
}
select {
  height: 28px;
  padding: 0;
  margin-left: 30px;
  background-color: #2c2c2c;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 2px;
}
.img-fluid {
  min-width: 100%;
  height: inherit;
  transition: all ease 0.15s;
}

.img-fluid:hover,
.img-fluid:hover ~ .details {
  transition: all ease 0.15s;
  position: relative;
  transform: scale(1.2);
  z-index: +10;
}
.img-fluid:hover ~ .details {
  opacity: 1;
  z-index: +11;
}

div.mx-auto:hover {
  display: flex;
  flex-direction: column;
  max-width: 200px;
}
