html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  padding: 50px 15px 0px;
}

header h1 {
  color: #fff;
  font-size: 48px;
  font-weight: 500;
  text-align: center;
}

body {
  background-color: #141414;
}

main {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

section {
  padding: 15px;
}

#nav {
  background-color: black;
}

.searchbox {
  display: block;
  width: 200px;
  height: 35px;
  border: none;
  outline: none;
  background-color: #ffffff88;
  border-radius: 10px;
  color: grey;
  font-size: 15px;
  font-weight: 300px;
  transition: 0.4 ease-out;
  position: fixed;
  z-index: 999;
  right: 10px;
  top: 80px;
}

.searchbox:focus {
  box-shadow: 0px 0px 6px 1px rgba(255, 9, 9, 0.233);
  background-color: #ffffff;
  width: 300px;
}

.results {
  display: flex;
  flex-wrap: wrap;
  margin: 0px -15px;
}

.results .result {
  cursor: pointer;
}

.popup {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #141414;

  overflow: scroll;
}

.popup .content {
  display: block;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 25px;

  color: #ffffff;
}

.popup .content h2 {
  font-size: 28px;
  font-weight: 600;
}

.popup .content h2 span {
  font-weight: 300;
  font-size: 20px;
}

.popup .content .rating {
  margin-bottom: 30px;
}

.popup .content .plot {
  display: flex;
  flex-wrap: wrap;
  margin: 0px -15px 30px;
}

.popup .content .plot img {
  float: 1 1 50%;
  max-width: 300px;
  padding: 0px 15px;
}

.popup .content .plot p {
  flex: 1 1 50%;
  padding: 15px;
}

.popup .content .close {
  display: inline-block;
  padding: 15px 30px;
  font-size: 18px;
  font-weight: 700;

  background: #e50914;
  color: #ffffff;
  border-radius: 8px;
  border: none;
  outline: none;
  appearance: none;
  cursor: pointer;
  transition: 0.4s ease-out;
}

.popup .content .close:hover {
  background: #c30811;
}

.gradientOnJumbo {
  background-image: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(0, 0, 0, 1) 24%, rgba(255, 255, 255, 0) 51%, rgba(0, 0, 0, 0.8827906162464986) 96%);
  z-index: 5;
}

.footer-icon {
  font-size: 1.3em;
  margin-left: 1%;
  margin-right: 1%;
  color: #c0c0c0;
}

.footer-links {
  text-align: left;
  font-size: 0.9em;
}

.footer-links p {
  margin-top: 3%;
  margin-bottom: 3%;
  color: #c0c0c0;
}

.footer-links a {
  color: #c0c0c0;
}

.footer-button {
  color: #c0c0c0 !important;
  border-color: #c0c0c0 !important;
}

.copyright {
  color: #c0c0c0;
  font-size: 0.8em;
}
